<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <head th:replace="layout/plantilla :: header">
        <title>TechShop</title>
    </head> 
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>

        <footer th:replace="layout/plantilla :: footer" />            
        </tbody>
        </table>        
        </div>        
        <div th:if="${clientes == null or clientes.empty}">       
            <p th:text="#{cliente.no_mostrar}">No hay clientes para mostar...</p>
        </div>     
        </div>     
        <footer th:replace="layout/plantilla :: footer" />   
        </body>
        </html>
